* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plain Light";
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
  top: 0;
  user-select: none;
  cursor: none !important;
}

body::-webkit-scrollbar {
  display: none;
}

.mousefollower {
  border: 2px solid rgb(255, 255, 255);
  background-color: white;
  scale: 2;
  mix-blend-mode: difference;
}

#loader {
  height: calc(100vh + 1px);
  width: 100%;
  padding: 10vh;
  position: fixed;
  top: calc(50% - 1px);
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
  z-index: 9999;
}

.line {
  overflow: hidden;
}

#line-1 {
  display: flex;
  align-items: center;
  gap: 2.5vw;
}

#line-part1 {
  font-size: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.7vw;
}

#line-part1 h5,
#line-part1 h6 {
  font-size: 3.5vw;
  font-family: "silk serif";
  font-weight: 100;
}

#line-part1 h5 {
  width: 5vw;
  text-align: right;
  /* background-color: red; */
}

.line h1 {
  font-size: 7.5vw;
  font-weight: 400;
  text-transform: uppercase;
}

#last-line {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 2vw;
}
#last-line h2 {
  font-size: 5.8vw;
  font-weight: 400;
  animation: 2s infinite;
  opacity: 0;
}

@keyframes anime {
  0% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #ffff;
    color: #fff;
    opacity: 1;
  }
  48% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #ffff;
    color: #fff;
    opacity: 0;
  }
  50% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #ffff;
    color: transparent;
    opacity: 1;
  }

  100% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #ffff;
    color: transparent;
    opacity: 0;
  }
}

#main {
  position: relative;
  background-color: #151515;
}

#page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
  margin-bottom: 20vh;
  padding-bottom: 5vh;
  position: relative;
}

#navbar {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 2.7vw 0;
  height: max-content;
  max-width: 90%;
  margin: auto;
}

#nav-middle {
  line-height: 1.1;
  font-size: 0.85vw;
}

#nav-middle-first {
  display: inline-block;
  position: relative;
}

#nav-middle-first::after {
  content: "";
  height: 1px;
  width: 15px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(10%, 100%);
}

#nav-topright {
  display: flex;
  justify-content: end;
  gap: 2vw;
  font-size: 0.9vw;
  list-style: none;
}

.hero {
  width: fit-content;
  /* padding-left: 10%; */
  margin-left: 27%;
  height: fit-content;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 99;
}

.hero:nth-child(2) {
  margin-top: 8vh;
  padding-left: 9%;
  margin-left: 18%;
}
#hero1 {
  position: relative;
}

#hero1::before {
  content: "01";
  font-size: 3.2vw;
  font-weight: 100;
  position: absolute;
  top: 0;
  left: 4%;
  font-family: "silk serif";
}

.hero h1,
#hero3 h2,
#hero3 h3 {
  font-size: 7.3vw;
  line-height: 7.3vw;
  text-transform: uppercase;
}

#hero3 h2 {
  border-bottom: 0.6vw solid white;
  padding-bottom: 0.4vw;
}

#hero3 h2:hover {
  -webkit-text-stroke: 1px white;
  color: transparent;
  font-weight: 100;
  border-bottom: 0.6vw solid rgba(255, 255, 255, 0);
}

#page2 {
  min-height: 100vh;
  width: 100%;
  padding: 15vh 0;
  margin-bottom: 30vh;
  position: relative;
  background-color: #151515;
}

#video-crsr {
  height: 8.5vw;
  width: 8.5vw;
  border-radius: 50%;
  background-color: #ffa63d;
  position: absolute;
  top: -10%;
  left: 70%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

#video-crsr i {
  font-size: 2vw;
}

#video-container {
  height: 80vh;
  width: calc(100% - 27%);
  position: relative;
  left: 27%;
  background: url(./public/video_thumbnail.jpg);
  background-position: center;
  background-size: cover;
}

#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}

#page3 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 17vh 2vw;
  margin-bottom: 15vh;
  background-color: #151515;
  /* margin-top: 25vh; */
}

#page3-content {
  width: calc(100% - 27%);
  position: relative;
  left: 27%;
}

#page3-content h1 {
  font-size: 7.3vw;
  text-transform: uppercase;
  position: relative;
}

#page3-content h1::before {
  content: "02";
  font-size: 3.2vw;
  font-weight: 100;
  position: absolute;
  top: 10%;
  left: -12%;
  font-family: "silk serif";
}

#image-div-container1,
#image-div-container2 {
  display: flex;
  padding: 1vw;
}

#image-div-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15vh;
}

.image-div {
  height: 38vw;
  width: 28vw;
  background-color: blue;
  overflow: hidden;
  flex-shrink: 0;
  margin: 2vw;
  position: relative;
}
.image-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.image-div:nth-child(1) {
  height: 29vw;
  width: 22vw;
}
#image-div-container2 > .image-div:nth-child(2) {
  margin-top: 20vw;
}

.page3-circle1,
.page3-circle2 {
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  margin: 20vw 0 0 10vw;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.page3-circle1 .button__arrow,
.page3-circle2 .button__arrow {
  height: 35%;
  width: 35%;
}

.page3-circle2 .button__arrow {
  transform: rotate(315deg);
}

.page3-circle2 {
  margin: 0 10vw 0 0;
}

.circle-in {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 0;
  border-radius: 50%;
  transition: all ease 0.5s;
}
.circle-in p {
  color: #000000;
  font-size: 0.85vw;
  font-weight: 500;
  width: 60%;
  scale: 0;
  transition: all ease 0.5s;
  transition-delay: 0.3s;
  opacity: 0;
}

.page3-circle1:hover .circle-in {
  scale: 1;
}
.page3-circle1:hover p {
  scale: 1;
  opacity: 1;
}
.page3-circle2:hover .circle-in {
  scale: 1;
}
.page3-circle2:hover p {
  scale: 1;
  opacity: 1;
}

#page4 {
  min-height: 100vh;
  width: 100%;
  padding-top: 5vh;
  background-color: #151515;
  position: relative;
}

#page4-content {
  height: max-content;
  width: calc(100% - 27%);
  position: relative;
  left: 27%;
}

#page4-content h1 {
  font-size: 7.3vw;
  text-transform: uppercase;
  position: relative;
}

#page4-content h1::before {
  content: "03";
  font-size: 3.2vw;
  font-weight: 100;
  position: absolute;
  top: 10%;
  left: -12%;
  font-family: "silk serif";
}

.underline {
  height: 2px;
  width: 95%;
  margin: 4.5vw 0;
  border-radius: 10px;
  background-color: #b6b6b6;
}

#page4-content > p {
  font-size: 2.05vw;
  width: 51%;
  margin-bottom: 3vw;
}

#page4-flex {
  display: flex;
  gap: 2.5vw;
}

#page4-flex img {
  width: 47%;
  height: auto;
}

#page4-flex p {
  width: 25%;
  font-size: 1vw;
}

#page4-blue-div {
  width: 50%;
  padding: 3vw;
  background-color: #3f7df4;
  position: relative;
  left: 34%;
  margin-top: -37vh;
}

.blue-div-elem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5vw 0;
  border-bottom: 1px solid #ffffff94;
}

.blue-div-elem h4 {
  font-size: 1.4vw;
  font-weight: 300;
}

.blue-div-elem p {
  width: 40%;
  font-size: 0.7vw;
}

#page5 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
  position: relative;
}

.elem,
.elem2 {
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -2.5vw;
}

.elem h1 {
  font-size: 7vw;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  color: transparent;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 16px;
  animation: anime-marque 20s linear infinite;
}

@keyframes anime-marque {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(calc(-100% - 19.5px));
  }
}

.elem2 h1 {
  font-size: 7vw;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  color: transparent;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 15px;
  animation: anime-marque 20s linear infinite reverse;
}

.elem h1 span,
.elem2 h1 span {
  font-style: italic;
  font-family: "silk serif";
  color: transparent;
}

#footer {
  height: min-content;
  width: calc(100% - 27%);
  position: relative;
  left: 27%;
  padding-bottom: 2.5vw;
  background-color: #151515;
}

#footer h1 {
  font-size: 7.3vw;
  text-transform: uppercase;
  position: relative;
}

#footer h1::before {
  content: "04";
  font-size: 3.2vw;
  font-weight: 100;
  position: absolute;
  top: 10%;
  left: -12%;
  font-family: "silk serif";
}

#footer-div {
  display: flex;
  align-items: flex-start;
  padding: 0 2vw 0 0;
  margin-bottom: 3vw;
}

.box {
  width: 50%;
  padding: 0 0 2vw 0;
}

.box h6 {
  font-size: 0.9vw;
  font-weight: 500;
  margin-bottom: 1.5vw;
  text-transform: capitalize;
}

.box h5 {
  font-size: 1.5vw;
  font-weight: 500;
  line-height: 1;
}

#footer-copyright h5 {
  font-size: 0.85vw;
  margin-top: -1.7vw;
  font-weight: 500;
}

._canvas_container {
  z-index: 999999 !important;
  pointer-events: none;
}

#flag {
  height: 25vw;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  opacity: 0;
}

@media (max-width: 600px) {
  #loader {
    padding: 10vh 5vw;
  }

  #page1 {
    min-height: 55vh;
    width: 100%;
    background-color: #151515;
    margin-bottom: 0;
    padding-bottom: 5vh;
    position: relative;
    padding-top: 1px;
  }

  #navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5.5vw;
    min-width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
  }

  #navbar svg {
    scale: 0.8;
  }

  #nav-middle,
  #nav-topright {
    display: none;
  }

  .hero {
    margin-left: 5%;
  }

  .hero:nth-child(2) {
    margin-top: 20vh;
    padding-left: 0%;
    margin-left: 5%;
  }
  #hero1 {
    position: static;
  }

  #hero1::before {
    font-size: 5vw;
    font-weight: 500;
    position: absolute;
    top: 28.5%;
    left: 5%;
  }

  .hero h1,
  #hero3 h2,
  #hero3 h3 {
    font-weight: 600;
    font-size: 10vw;
    line-height: 10vw;
    text-transform: uppercase;
  }

  #hero3 h2 {
    border-bottom: 1vw solid white;
    padding-bottom: 0.6vw;
  }

  #page2 {
    min-height: 60vh;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
  }

  #video-crsr {
    height: 17vw;
    width: 17vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #video-crsr i {
    font-size: 6vw;
  }

  #video-container {
    height: 50vh;
    width: 100%;
    position: relative;
    left: 0;
  }

  #page3 {
    padding: 5vh 2vw;
    margin-bottom: 0;
  }

  #page3-content {
    width: calc(100% - 5%);
    left: 5%;
  }
  #page3-content h1 {
    position: static;
    font-size: 10vw;
  }
  #page3-content h1::before {
    font-size: 5vw;
    font-weight: 500;
    position: absolute;
    top: -50%;
    left: 0;
  }

  #image-div-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10vh;
  }

  #image-div-container1,
  #image-div-container2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .image-div {
    height: 50vh;
    width: 90vw;
  }

  .image-div:nth-child(1) {
    height: 50vh;
    width: 90vw;
  }
  #image-div-container2 > .image-div:nth-child(2) {
    margin-top: 0;
  }

  .page3-circle1,
  .page3-circle2 {
    display: none;
  }

  #page4 {
    min-height: 100vh;
    width: 100%;
    padding: 5vh 5vw 3vh 0;
    /* margin-top: 37vh; */
    background-color: #151515;
    position: relative;
  }

  #page4-content {
    width: calc(100% - 5%);
    left: 5%;
  }
  #page4-content h1 {
    position: static;
    font-size: 10vw;
  }
  #page4-content h1::before {
    font-size: 5vw;
    font-weight: 500;
    position: absolute;
    top: -3%;
    left: 0;
  }

  .underline4 {
    width: 100%;
  }
  #page4-content > p {
    font-size: 5vw;
    width: 100%;
    padding: 1vw 5vw 1vw 0;
    margin-bottom: 3vw;
  }

  #page4-flex {
    flex-direction: column;
  }

  #page4-flex img {
    width: 100%;
  }

  #page4-flex p {
    width: 100%;
    font-size: 3vw;
  }

  #page4-blue-div {
    width: 100%;
    padding: 8vw 4vw;
    position: static;
    margin: 2vh 0 7.5vh 0;
  }

  .blue-div-elem {
    padding: 2.5vw 0;
    border-bottom: 1.5px solid #ffffff94;
  }

  .blue-div-elem h4 {
    font-size: 3vw;
    font-weight: 300;
  }

  .blue-div-elem p {
    width: 40%;
    font-size: 1.6vw;
  }

  #page5 {
    height: fit-content;
  }

  .elem h1,
  .elem2 h1 {
    font-size: 12vw;
  }

  #footer {
    /* height: min-content; */
    width: calc(100% - 5%);
    position: relative;
    left: 5%;
    padding: 7vh 0 5vh 0;
  }

  #footer h1 {
    position: static;
    font-size: 10vw;
  }
  #footer h1::before {
    font-size: 5vw;
    font-weight: 500;
    position: absolute;
    top: 5%;
    left: 0;
  }

  #footer-div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 2vw 0 0;
    margin-bottom: 0vw;
  }

  .box {
    width: 100%;
    padding: 0 0 2vw 0;
    margin-bottom: 3.5vw;
  }

  .box h6 {
    font-size: 2.8vw;
    margin-bottom: 2.5vw;
  }

  .box h5 {
    font-size: 3.6vw;
    line-height: 1;
  }

  #footer-copyright h5 {
    font-size: 2.5vw;
    margin-top: 2.5vh;
  }
}
